.countdownBox {
  background-color: #ffffff;
  color: #0f542a;
  font-size: 28px;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.legend {
  font-size: 12px;
  font-weight: 400;
  color: #0f542a;
}

@media only screen and (max-width: 1024px) {
  .countdownBox {
    background-color: #ffffff;
    color: #0f542a;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .legend {
    font-size: 12px;
    font-weight: 400;
    color: #0f542a;
  }
}
