:root {
  // COLORS
  --color-primary: #1677ff;
  --color-primary-light: #3f8df6;
  --color-success: #52c41a;
  --color-success-hover: #73d13d;
  --color-warning: #faad14;
  --color-warning-hover: #ffc53d;
  --sidebar-color: #1B1D1C;
  --layout-background-color: #000000;
  --color-grey: #535353;
  --color-grey-light: #9CA3AF;
  --color-grey-light-1: #808080;
  --color-white: #fff;
  --color-black: #000;
  --color-text-default: #ffffff;
}
